[Unit]
Description=Deploy %i!

[Service]
WorkingDirectory=/etc/deploy/%i
ExecStartPre=/etc/deploy/%i/deploy.init
ExecStart=/etc/deploy/%i/deploy
ExecStopPost=/etc/deploy/notify.sh "%H" "%i" "${EXIT_STATUS}" "/run/deploy/%i.out"
EnvironmentFile=/etc/deploy/%i/deploy.env

[Install]
WantedBy=deploy.target
