# This file is managed by the deploy-deploy Ansible collection

ANSIBLE_LOCALHOST_WARNING=False
ANSIBLE_INVENTORY_UNPARSED_WARNING=False

{% if ansible_pull_collections_path %}
{% if ansible_pull_collections_path is iterable %}
ANSIBLE_COLLECTIONS_PATH={{ansible_pull_collections_path|join(":")}}
{% else %}
ANSIBLE_COLLECTIONS_PATH={{ansible_pull_collections_path}}
{% endif %}
{% endif %}
